\#*\#
*~
temp.*
temp/
*.log
*.cmi
*.cmo
*.py[cod]
*.lock
!scripts/isabelle-exported.Cargo.lock
!optimize/**/Cargo.lock
__pycache__/
**/__pycache__/
**/export
**/Rust_Out
**/_build/
target/
**/Hol_Test/target
node_modules/
package-lock.json
test-root/
optimize/target/
optimize/tests/out/
tests_x64/x64-validation/backups/
**/stage1
**/stage2
